.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
    text-align: left;
    font-size: 12px;
}

.buttonWrapper {
    text-align: center;
    padding: 25px 0px;
}

#button {
    background-color: rgb(173, 64, 82);
    border-color: rgb(173, 64, 82);
}

#button:hover {
    background-color: rgb(134, 51, 65);
    border-color: rgb(134, 51, 65);
}

#createUsers {
    color: rgb(173, 64, 82);
}